
body{
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}
.textHeading{
    font-size: 1rem;
    font-weight: bold;
}
.labelStyle{
   
    font-size:0.9rem ;
}
::placeholder{
    font-size: 0.8rem;
   
}
.buttonBorder{
    border: 1px solid red;
    height:4rem;
    width: 7rem;
    text-align: center;
    /* padding-top: 0.9rem; */
    color: red;
    border-radius: 0.5rem;
}
.submitStyle{
    border: 1px solid black;
    height:4rem;
    width: 7rem;
    text-align: center;
    /* padding-top: 0.9rem; */
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}
.errorStyle{
    color: red;
    
}
